bin/
obj/
.vs/
.idea/
artifacts
server/
media/*
!media/.gitkeep
config.html
!Jellyfin.Plugin.Jellio/Web/config.html
Jellyfin.Plugin.Jellio/Web/index.html
.aider*
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local
*.tsbuildinfo
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
